<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <ion-icon class="icono-time" name="time-outline"></ion-icon>
        </ion-title>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="centrar">
                                <label class="ion-align-self-start">{{pregunta.pregunta}}</label>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>