<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <ion-icon class="icono-time" name="time-outline"></ion-icon>
        </ion-title>
        <ion-grid class="container">
            <ion-row>
                <ion-col class="centrar">
                    <label class="ion-align-self-start">{{preguntas[0].pregunta}}</label>
                </ion-col>
            </ion-row>
            <ion-grid *ngFor="let opcion of preguntas[0].opciones;let indice=index">
                <ion-row>
                    <ion-col>
                        <button 
                            class="button buttonRespuesta"
                            (click)="evaluarRespuesta(preguntas[0].id, preguntas[0].opciones[indice].texto)">
                        {{preguntas[0].opciones[indice].texto}}</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-grid>

    </ion-grid>
</ion-content>