<ion-component [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Rankings</h1>
        </ion-title>
        <ion-row class="ion-align-items-center">
            <ion-col size="8" offset="2">
                <ion-row>
                    <ion-col>
                        <ion-item color="success">
                            <ion-label>
                                Personal
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item color="danger">
                            <ion-label>
                                Nacional
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                07:40
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                04:40
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/inicio">
                            <button class="button">Volver</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-component>