<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Categorias</h1>
        </ion-title>
        <ion-row class="ion-align-items-center">
            <ion-col size="11" offset="0.5">
                <ion-row>
                    <ion-col>
                        <ion-router-link href="preguntas">
                            <button class="button buttonMate">Matematicas</button>
                        </ion-router-link>
                    </ion-col>
                    <ion-col>
                        <button class="button buttonHist">Historia</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button class="button buttonCien">Ciencias</button>
                    </ion-col>
                    <ion-col>
                        <button class="button buttonLeng">Lenguaje</button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link href="inicio">
                            <button class="button">Volver</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>