<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Categorias</h1>
            
        </ion-title>
        <p class="subtitulo">Cada alternativa correcta suma 100 puntos y cada incorrecta descuenta 20 puntos.</p>
        <ion-row class="ion-align-items-center">
            <ion-col size="11" offset="0.5">
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/preguntas">
                            <button class="button buttonMate" (click)="settearCategoria('Matemáticas')">Matemáticas</button>
                        </ion-router-link>
                    </ion-col>
                    
                    <ion-col>
                        <ion-router-link routerLink="/preguntas">
                            <button class="button buttonLeng" (click)="settearCategoria('Lenguaje')">Lenguaje</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/preguntas">
                            <button class="button buttonCien" (click)="settearCategoria('Ciencias')">Ciencias</button>
                        </ion-router-link>
                    </ion-col>
                    <ion-col>
                        <ion-router-link routerLink="/preguntas">
                            <button class="button buttonHist" (click)="settearCategoria('Historia')">Historia</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/inicio">
                            <button class="button">Volver</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>