.completa {
  min-height: 100vh;
  background-color: #29a4c6;
  color: #ffffff;
}
.titulo-inicio {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  text-transform: uppercase;
  margin-top: 20px;
}

.buttonMate {
  background-color: #0b7aff;
  color: #ffffff;
}
.buttonLeng {
  background-color: #fc1e1e;
  color: #ffffff;
}
.buttonHist {
  background-color: #e4a61b;
  color: #ffffff;
}
.buttonCien {
  background-color: #0cc623;
  color: #ffffff;
}

.botones {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subtitulo {
  font-size: 16px;
  max-width: 100%;
  text-align: justify;
  display: flex;
  padding: 0 20px;
}