<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <ion-title>
                    <h1 class="titulo-inicio">Quiz4US</h1>
                </ion-title>
                <ion-card-content>
                    <ion-row>
                        <ion-col class="centrar">
                            <label class="ion-align-self-start">Usuario o Correo electrónico</label>
                            <ion-input type="text" class="input" placeholder="Usuario o Correo electrónico" [(ngModel)]="correo" ngDefaultControl></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="centrar">
                            <label class="ion-align-self-start">Contraseña</label>
                            <ion-input type="password" class="input" placeholder="Contraseña" [(ngModel)]="contrasena" ngDefaultControl></ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-router-link routerLink="/recuperar" class="olvidoPassword">
                                Olvidé mi contraseña
                            </ion-router-link>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-router-link class="button" (click)="iniciarSesion()">
                            <ion-col>
                                <button class="button buttonLogin" >Iniciar Sesion</button>
                            </ion-col>
                        </ion-router-link>
                    </ion-row>
                    <ion-row>
                        <hr>O
                        <hr>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <button class="button buttonFacebook">Iniciar sesión con Facebook</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <button class="button buttonGoogle">Iniciar sesión con Google</button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-col>
            <ion-col class="registrarse">
                <p>¿No tienes una cuenta?</p>

                <ion-router-link routerLink="/registrar" class="underline">
                    Registrate aqui
                </ion-router-link>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>