<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-row class="completa ion-align-items-center">
            <ion-col size="12">
                <ion-title>
                    <h1>Quiz4US</h1>
                </ion-title>
                    <ion-card-content>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating">Correo electronico</ion-label>
                                    <ion-input type="text"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating">Contraseña</ion-label>
                                    <ion-input type="password"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col >
                                <ion-router-link href="recuperar">
                                    Olvide mi contraseña
                                </ion-router-link>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button shape="round" expand="block" color="success" href="inicio">
                                    Iniciar sesión
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            ----------------------------- O -------------------------------
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button expand="block">
                                    Iniciar sesión con Facebook
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button expand="block">
                                    Iniciar sesión con Google
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-col>
                <ion-col size="10" offset="3">
                    <ion-row>
                        ¿No tienes una cuenta?
                    </ion-row>
                </ion-col>
                <ion-col offset="4">
                    <ion-router-link href="registrar">
                        Registrate aqui
                    </ion-router-link>
                </ion-col>    
            </ion-row>
    </ion-grid>
</ion-content>