<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1>Sugerencias</h1>
        </ion-title>
        <ion-row class="completa ion-align-items-center">
            <ion-col size="8" offset="2">
                <ion-row>
                    <ion-col>
                        <ion-button shape="round" expand="block" color="success">
                            Sugerir pregunta
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button shape="round" expand="block" color="danger">
                            Reportar pregunta
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="10">
                        <ion-router-link href="inicio">
                            Salir
                        </ion-router-link>
                    </ion-col>
                </ion-row>  
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>