<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Sugerencias</h1>
        </ion-title>
        <ion-row class="ion-align-items-center">
            <ion-col size="8" offset="2">
                <ion-row>
                    <ion-col>
                        <ion-router-link href="sugerir_preguntas">
                            <button class="button buttonGreen">Sugerir pregunta</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link href="reportar">
                            <button class="button buttonRed">Reportar pregunta</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link href="inicio">
                            <button class="button">Volver</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>