<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1>Quiz4US</h1>
        </ion-title>
        <ion-row class="completa ion-align-items-center">
            <ion-col size="8" offset="2">
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" href="categorias">
                            Iniciar
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block">
                            Sugerencias
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block">
                            Ranking
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="10">
                        <ion-router-link href="">
                            Salir
                        </ion-router-link>
                    </ion-col>
                </ion-row>  
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>