<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Quiz4US</h1>
        </ion-title>
        <ion-row class="ion-align-items-center">
            <ion-col size="8" offset="2" class="botones">
                <ion-row>
                    <ion-col>
                        <ion-router-link href="categorias">
                            <button class="button">Iniciar</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link href="sugerencias">
                            <button class="button">Sugerencias</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link href="rankings">
                            <button class="button">Ranking</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col>
                        <ion-router-link href="">
                            <button class="button">Salir</button>
                        </ion-router-link>
                    </ion-col>

                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>