<ion-content [fullscreen]="true">
    <ion-grid class="completa">
        <ion-title>
            <h1 class="titulo-inicio">Quiz4US</h1>
        </ion-title>
        <ion-row class="ion-align-items-center">
            <ion-col size="8" offset="2" class="botones">
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/categorias">
                            <button class="button">Iniciar</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/sugerencias">
                            <button class="button">Sugerencias</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-router-link routerLink="/rankings">
                            <button class="button">Ranking</button>
                        </ion-router-link>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col>
                            <button class="button" (click)="mostrarAlertas()">Cerrar sesion</button>
                    </ion-col>

                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>