<ion-content>
    <ion-grid class="completa">
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">
                            Registrarse
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese nombre de usuario
                                        </ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario.nombre_usuario" ngDefaultControl required>
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su nombre
                                        </ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario.nombre" ngDefaultControl required>
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su correo electronico
                                        </ion-label>
                                        <ion-input type="text" [(ngModel)]="usuario.correo" ngDefaultControl required>
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Ingrese su contraseña
                                        </ion-label>
                                        <ion-input type="password" [(ngModel)]="usuario.contrasena" ngDefaultControl required>
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label position="floating">
                                            Vuelve a escribir su contraseña
                                        </ion-label>
                                        <ion-input type="password" [(ngModel)]="usuario.repetir_contrasena" ngDefaultControl required>
                                        </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-button expand="block" color="success" (click)="createUser()">
                                        Registrarse
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="ion-text-center">
                                    <ion-router-link href="">
                                        ¿Ya tienes cuenta?
                                    </ion-router-link>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>